<ion-view view-title="Account">
  <ion-content>
<div class="list card">

  
  <div class="item item-icon-left">
       <i class="icon ion-person"></i>
      name
  </div>

  <div class="item item-icon-left">
       <i class="icon ion-android-car"></i>
      plateNumber
  </div>


  <a class="item item-avatar" href="#">
      <img src="http://www.pd4pic.com/images/letter-f-circle-symbol.png">
    Floating Zone Change
    <p>Currently Floating @ currentFloatingZone</p>
  </a>

  <a class="item item-avatar" href="#">
      <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_arrow-up-512.png">
    Package Upgrade
    <p>Current Package: 'currentPackage'</p>
  </a>

  <a class="item item-avatar" href="#">
      <img src="https://cdn1.iconfinder.com/data/icons/interface-3/24/Reload-512.png">
      <h2>Renew</h2>
      <p>Valid Thru: 'expDate'</p>
    </a>

</div>

  </ion-content>
</ion-view>
