<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="card">
  <div class="item item-text-wrap">
    <a class="item item-thumbnail-left" href="#">
      <img src="http://www.pd4pic.com/images/letter-f-circle-symbol.png">
      <h2>Floating Zone Change</h2>
      <p>
        Current Floating Zone: 
        <p></p>
        currentFloatingZone
      </p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_arrow-up-512.png">
      <h2>Package Upgrade</h2>
      <p>
        Current Package: 
        <p></p>
        currentPackage
      </p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="https://cdn1.iconfinder.com/data/icons/interface-3/24/Reload-512.png">
      <h2>Renew</h2>
      <p>Renew Your Package</p>
    </a>
  </ion-content>
</ion-view>
